/BiDimensionalMap$Updater.class
/BiDimensionalMap.class
/Coordinate.class
/GUI.class
/InterestPoint.class
/InterestPoints$Builder.class
/InterestPoints.class
/Rectangle.class
/RectilinearRegion.class
